body {
  background: #ffffff;
  font-family: "Roboto", sans-serif;
  color: #434455;
}


.hidden {
  display: none;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.link-logo-nav {
  color: var(--IRIS, #4d5ae5);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo-studio {
  color: var(--NAVY-BLUE, #2e2f42);
  font-family: Raleway;
  font-weight: 700;
  font-size: 18px;
  line-height: 1,17; /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.nav-link {
  font-size: 16px
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color:  #2e2f42;
  font-style: normal;
}

.nav-link :hover {
  color: #404bbf;
}

..nav-link :focus {
  color: #404bbf;
}


.team-item { 
  background-color: #FFFFFF;
}

.adres-link :hover, .adres-link :focus {
  color: #404bbf 
}

.adres {
  font-style: normal;
}

.adres-list {
  color: var(--SLATE, #434455);
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  font-style: normal
}



.hero-images {
  background: var(--NAVY-BLUE, #2e2f42);
}
.hero-title {
  color: var(--WHITE, #fff);
  text-align: center;
  font-size: 56px;
  line-height: 1.07; /* 107.143% */
  letter-spacing: 0.02em;
}

.button {
  color: var(--WHITE, #fff);
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em;
}
.hero-button {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background: var(--IRIS, #4d5ae5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.hero-button:hover, .hero-button:focus{
  background-color: #404BBF;
}
.Feature-title {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
}
.paragraf-feauture {
  color: var(--SLATE, #434455);
  font-size: 16px;
  line-height: 1.5em; /* 150% */
  letter-spacing: 0.02em;
}
.title-team {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-size: 36px;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.name {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-size: 20px;
   font-weight: 500;
  line-height: 1.20; /* 120% */
  letter-spacing: 0.02em;
}
.profesion {
  color: var(--SLATE, #434455);
  text-align: center;
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}
.portfolio {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-size: 36px;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.service {
  color: var(--NAVY-BLUE, #2e2f42);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
}

.instrument {
  color: var(--SLATE, #434455);
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}

.footer {
  background: var(--NAVY-BLUE, #2e2f42);
}

.link-logo-footer {
  color: var(--IRIS, #4d5ae5);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-footer {
  color: var(--CLOUD, #f4f4fd);
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.16; /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.paragraf-footer {
  color: var(--CLOUD, #f4f4fd);
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}

.section-team{
  background-color: #F4F4FD;
}
